# Ignore Python cache
__pycache__/

# Ignore all .log files
*.log

# Ignore environment files
.env

.vscode

# Ignore chroma db
RAG/db


# Ignore this py file, it is just for testing purposes
llm_hf.py